Footer {
    background-color: #44444463;
    display: flex;
    align-items: flex-start;

    .list-styled {
        list-style-type: none;
    };

    .list-styled li::before {
        content: '>';
        color: blue;
        position: relative;
        margin-left: none;
        padding-left: none;
          
    }

    .copyright {
        background-color: #444;
    }

}