.App {
  text-align: center;
  font-family: 'Nunito Sans';
  background-color: #eee;
  
  h1, h2 {
    font-weight:600;
    color: #1e1e1e;
  };

  .nav-link.active {
    color: #0d6efd; /* Changez cette couleur pour l'élément actif */
    font-weight: bold; /* Ajoutez d'autres styles comme l'épaisseur de la police */
  }
  
  .nav-link {
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #0d6efd; /* Couleur au survol pour tous les liens */
  }

#services:hover {
  background-color: #cde1f8;
}

  p {
    font-weight: 400;
    color: #444;
  };

  strong {
    font-weight: 600;
    color: black;
  };

  .background-image {
    background-image: url('https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg'); /* Remplacez l'URL par votre image */
    background-size:cover; /* Pour que l'image couvre toute la div */
    background-position: center; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    height: 900px; /* Hauteur de la div */
    display: flex; /* Pour aligner le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    color: white; /* Couleur du texte */
    text-align: center; /* Aligner le texte au centre */
    position: relative;
    background-color: rgba(0,0, 0, 0.3)/*Couleur noire avec transparence */
  };

  .title-underline {
    border: none;
    border-top: 3px solid #0d6efd;
  };

  .titles-underline {
    border: none;
    width: 20%;
    border-top:3px solid #0d6efd;
  };

  .card-body {
   min-height: 100px;
  };

  #img_bckgrd {
    background-color: rgba(0,105, 255, 0.5);
  };

  #desktop, #FileCode , #Glass {
    height: 30px;
  };

  .underline {
    text-decoration: underline;
  };

  .banner-fixed-top {
    background-image: url('https://media.istockphoto.com/id/1403694047/fr/vectoriel/r%C3%A9seau-neuronal-de-lignes-donde-dia-contexte-vectoriel-de-lintelligence-artificielle.jpg?s=2048x2048&w=is&k=20&c=WCag3pi7OhTl12kf11lYvMnCCA37ZJE_mfdYRo-rvbk='); /* Remplacez l'URL par votre image */
    background-size:cover; /* Pour que l'image couvre toute la div */
    background-position:100%; /* Pour centrer l'image */
    background-repeat:repeat-x; /* Pour éviter la répétition de l'image */
    height: 100px; /* Hauteur de la div */
    width: 100%;
    display: flex; /* Pour aligner le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    color: white; /* Couleur du texte */
    text-align: center; /* Aligner le texte au centre */
    position: relative;
   
  };

  #fruits {
    height: 414px;
  };

  #coding , #vente, #positionnement, #responsive, #code_languages, #referencement {
    height: 300px;
  };

  .form-underline {
    border-top: 3px solid #0d6efd;
  };
  
  #localisateur , #telephone{
    height: 20px;
    width: 20px;
  };

  .github-list {
    list-style: none;
  }

}



